body { background: #c95c89; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 21px; display: flex; }
.block-uploader-0 { color: #ae9bd4; font-size: 16px; margin-bottom: 5px; }
.block-search-1 { color: #f6895f; font-size: 15px; margin-bottom: 5px; }
.block-order-2 { color: #997db1; font-size: 15px; margin-bottom: 5px; }
.block-filter-3 { color: #b68ba5; font-size: 14px; margin-bottom: 5px; }
.block-product-4 { color: #14490e; font-size: 21px; margin-bottom: 5px; }
.block-router-5 { color: #6526f9; font-size: 20px; margin-bottom: 5px; }